/************************/
/*  Constants   */
/************************/

$dark: #121212;
$midDark: #212121;
$midLight: #E0E0E0;
$lightLight: #F5F5F5;

// Background Colors

$background-dark: #393b44;
$background-medium: #8d93ab;
$background-light: #d6e0f0;
$background-veryLight: #f1f3f8;
