/************************/
/*  Features Styling    */
/************************/

@import "./Constants";

.features-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.feature-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em 5%;
}

.first-feature-card{
  margin-top: 0px;
}

.feature-text-left{
  width: 30%;
  max-width: 500px;
  padding: 2em;
  justify-self: right;
}
.feature-text-right{
  width: 30%;
  max-width: 500px;
  padding: 2em;
}

.feature-heading{
  // color: $dark;
  color: $lightLight;
  // max-width: 70%;
  // margin-left: 10%
}
.feature-paragraph{
  // color: $midDark;
  color: $midLight;
  // max-width: 70%;
  // margin-left:10%;
}

.feature-gif{
  width: 50%;
  max-width: 500px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.feature-gif img{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.feature-gif video{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*******************
 Mobile Phone Queries
********************/



@media (max-width: 1000px) {

  .feature-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 5%;
  text-align: center;
}

.feature-text-left{
  width: 95%;
  max-width: 500px;
  padding: 2em;
  justify-self: right;
}
.feature-text-right{
  width: 95%;
  max-width: 500px;
  padding: 2em;
}


.feature-gif{
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.feature-gif img{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.feature-gif video{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-feature-card{
  margin-top: 0px;
}

.right-card {
  display: flex;
  flex-direction: column-reverse;
}

.last-card {
  margin-bottom: 60px;
}

}

@media (max-width: 400px) {

  .feature-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 5%;
  text-align: center;
}

.feature-text-left{
  width: 95%;
  max-width: 500px;
  padding: 2em;
  justify-self: right;
}
.feature-text-right{
  width: 95%;
  max-width: 500px;
  padding: 2em;
}


.feature-gif{
  width: 100%;
  max-width: 500px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
}

.feature-gif img{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

}

.feature-gif video{
  width: 100%;
  max-width: 100%;
  border: 1px solid #3b3b3b;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.first-feature-card{
  margin-top: 0px;
}

.right-card {
  display: flex;
  flex-direction: column-reverse;
}

.last-card {
  margin-bottom: 60px;
}

}