@import "./styles/Constants";

.getting-started {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 60vh;
  color: $dark;

}

.getting-started .inner {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.getting-started .listItems {
  list-style: none;
  font-weight: 600;
  margin-top: 30px;
  max-width: 550px;
  line-height: 2.3em;
  font-size: 1.3em;
}
.slide-container {
  border-radius: 15px;
}

#slide {
  max-width: 500px;
  border: 1px solid grey;
  border-radius: 15px;
}

.each-slide div {
  width: 500px;
  height: 200px;
  background-size: 100% 100%;
  border-radius: 15px;
}