@import "./styles/Constants";
// .Product {
//   background-color:#f1f3f8;
// }
.Product .inner {
  height: 55vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.Product .inner h2 {
  width: 900px;
  text-align: center;
  color: $dark;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 40px;

}

.Product .inner p {
  width: 900px;
  text-align: center;
  color: $dark;
  font-size: 1.5em;
  margin-top: 40px;
}