@import "./styles/Constants";

.Product .inner {

  height: 55vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#Product .inner h2 {
  width: 900px;
  text-align: center;
  color: $dark;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 40px;
  margin-top: 0px;

}

.Product .inner p {
  width: 900px;
  text-align: center;
  color: $dark;
  font-size: 1.5em;
  margin-top: 40px;
}