@import "./styles/Constants";

#contributor-pictures p {
    margin: 15px;
    text-align: center;
}


.grid-container {
    margin: 0 auto;
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
    margin-bottom: 40px;
}
// styling for the individual contributor pictures
.contributor {
    width: 40%;
    justify-self: center;
}
// styling for container holding contributor pictures
.grid-flex {
    display: flex;
    justify-content: center;
}

// styling for container that holds socialmedia icons
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 15px auto 25px auto;
}
.social-icons {
    width: 100%;
    font-size: 25px;
    margin: auto 15px auto 15px;
}

.linkedin {
    color: linkedin;
}

.github {
    color: $dark;
}

// hover effect for socialmedia icons
.social-icons:hover {
    opacity: 0.85;
}