.grid-container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". . . ."
    ". . . ."
    ". . . ."
    ". . . .";
}
// styling for the individual contributor pictures
.contributor {
    width: 50%;
    justify-self: center;
}
// styling for container holding contributor pictures
.grid-flex {
    display: flex;
    justify-content: center;
}

// styling for container that holds socialmedia icons
.flex-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 15px auto 25px auto;
}
.social-icons {
    width: 100%;
    font-size: 50px;
    margin: auto 15px auto 15px;
}

.linkedin {
    color: #0e76a8;
}

.github {
    color: white;
}

// hover effect for socialmedia icons
.social-icons:hover {
    opacity: 0.85;
}